SECRET_KEY='your-secret-key-here'

# Set to True for local development
DEBUG=False

# Comma-separated hostnames (e.g. odd-one-out-api.onrender.com)
ALLOWED_HOSTS=localhost,127.0.0.1

# Comma-separated origins (e.g. https://odd-one-out.onrender.com)
CSRF_TRUSTED_ORIGINS=

# Database
DB_NAME=team28
DB_USER=root
DB_PASSWORD=root
DB_HOST=127.0.0.1
DB_PORT=3306
